body > #root > div {
  height: 100vh;
}
.app_component {
  background-color: rgb(115,149,174);
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;  
  height: 64px;
}

.toolbat__navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}